{% extends 'base.html.twig' %}

{% block body %}

	<article class="row border text-justify mt-5">
		<h2 class="text-center font-weight-bold">
			<aside class="col-12 text-center">
				{{ article.titre }}
			</h2>
			<div class="text-center">
				<img class="col-6" src="{{ article.image }}" alt="image de l'article">
			</div>
			<h5 class="ml-2">
				Paru le :
				{{ article.paruLe | date('d/m/Y') }}
				à
				{{ article.paruLe | date('H:i') }}
			</h5>
		</aside>
		<p class="text-justify col-9 ml-5 mt-5">
			{{ article.contenu | raw }}
		</p>
	</article>
{% endblock %}
